p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.price{
  font-weight: bold;
  font-size: 30px;
}
.usd{
  color: rgb(96,96,96);
  margin-left: 10px;
  font-size: bold;
}
.green{
  color: rgba(31, 167, 4, 0.877);
  margin-top: 10px;
}
.after{
  margin-top: 10px;
}
.text1{
  color: grey;
}
.text2{
  color:red;
}